@model IEnumerable<BrokerNetwork.Models.SpecialOffer>

@{
    ViewBag.Title = "العروض الخاصة";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Title</h3>
        <div class="actions">
            <div class="dropdown actions__item">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert" aria-expanded="false"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    @Html.ActionLink("اضافة عرض", "Create", null, new { @class = "dropdown-item" })
                </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table id="data-table" class="table table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th>
                            عنوان العرض
                        </th>
                        <th>
                            تاريخ الانشاء
                        </th>
                        <th>
                            الخيارات
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                @item.OfferTitle
                            </th>
                            <td class="en-number">
                                @string.Format("{0: d/M/yyyy}", item.EntryDate)
                            </td>
                            <td class="actions-btns">
                                <a href="@Url.Action("Edit", "SpecialOffers", new { id = item.OfferID })" title="تعديل"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></a>
                                <a onclick="ShowModal('SpecialOffers/Delete/@item.OfferID')" title="حذف"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>